[Unit]
Description=Timer for Certbot Renewal
Requires=certbot-renewal.service

[Timer]
OnBootSec=300
OnUnitActiveSec=1w
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
